<!-- Top Bar -->
<div class="top">
  <!-- Top Logo -->
  <div class="logo-rectangle">
    <!-- Logo Image -->
    <img src="images/logo/r-3-l-logo-application-02.png"
    srcset="images/logo/r-3-l-logo-application-02@2x.png 2x,
    images/logo/r-3-l-logo-application-02@3x.png 3x"
    class="R3L-logo">
  </div>
  <!-- Settings -->
  <div class="settings">
    <div class="admin-name">Admin Name</div>
    <img src="images/shape/shape.png"
    srcset="images/shape/shape@2x.png 2x,
    images/shape/shape@3x.png 3x"
    class="shape">
  </div>
</div>
<!-- Left menu -->
<div class="left-menu">
  <!-- Navigate -->
  <div class="navigate">
    <input type="text" name="Navigate" value="NAVIGATE" class="navigate-field">
  </div>
  <ul>
    <!-- Analytics -->
    <li>
      <a href="" ui-sref='menu.charts'>
        <img src="images/analytics/analytics.png"
        srcset="images/analytics/analytics@2x.png 2x,
        images/analytics/analytics@3x.png 3x">
        Analytics
      </a>
    </li>
    <!-- News -->
    <li>
      <a href="" ui-sref='menu.news'>
        <img src="images/newspaper/newspaper-o.png"
        srcset="images/newspaper/newspaper-o@2x.png 2x,
        images/newspaper/newspaper-o@3x.png 3x">
        News
      </a>
    </li>
    <!-- Board brief -->
    <li>
      <a href="">
        <img src="images/board-brief/board-brief.png"
        srcset="images/board-brief/board-brief@2x.png 2x,
        images/board-brief/board-brief@3x.png 3x">
        Board Brief
      </a>
    </li>
     <!-- Briefcase -->
    <li>
      <a href="">
        <img src="images/briefcase/briefcase.png"
        srcset="images/briefcase/briefcase@2x.png 2x,
        images/briefcase/briefcase@3x.png 3x">
        Briefcase
      </a>
    </li>
      <!-- Close Menu -->
     <li class="close-menu">
       <a href="">
         <img src="images/angle-double-left/angle-double-left.png"
         srcset="images/angle-double-left/angle-double-left@2x.png 2x,
         images/angle-double-left/angle-double-left@3x.png 3x">
         Close menu
       </a>
     </li>
  </ul>
</div>
<div ui-view=""></div>
<!-- Boards -->
