<div class="boards">
  <!-- Board 1 -->
  <div class="board" id="b1">
    <div class="info">
      <p class="name margins">Chain Store Age</p>
      <p class="date margins">Feb 22, 2016</p>
    </div>
    <div class="title margins">
      <p>Billabong taps NetSuite to power omnichannel strategy</p>
    </div>
    <div class="img-container">
      <img class="image" src="images/boards/billabong.png" alt="">
    </div>
    <div class="description margins">
      <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials,
         ERP and and omnichannel software suites, said that boardsports
         retailer Billabong International Ltd. selected NetSuite...</p>
    </div>
    <div class="social">
      <hr class="line">
      <img class="briefcase" src="images/boards/briefcase.png" alt="Briefcase">
      <img class="thumb" src="images/boards/thumb-up.png" alt="Thumbcase">
      <img class="share" src="images/boards/arrow.png" alt="Share">
    </div>
  </div>
  <!-- Board 2 -->
  <div class="small-board" id="b2">
    <div class="info">
      <p class="name margins">Business Wire</p>
      <p class="date margins">Feb 18, 2016</p>
    </div>
    <div class="title margins">
      <p>Billabong taps NetSuite to power omnichannel strategy</p>
    </div>
    <div class="description margins">
      <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials,
         ERP and and omnichannel software suites, said that boardsports
         retailer Billabong International Ltd. selected NetSuite...</p>
    </div>
    <div class="social">
      <hr class="line">
      <img class="briefcase" src="images/boards/briefcase.png" alt="Briefcase">
      <img class="thumb" src="images/boards/thumb-up.png" alt="Thumbcase">
      <img class="share" src="images/boards/arrow.png" alt="Share">
    </div>
  </div>
  <!-- Board 3 -->
  <div class="board" id="b3">
    <div class="info">
      <p class="name margins">Chain Store Age</p>
      <p class="date margins">Feb 22, 2016</p>
    </div>
    <div class="title margins">
      <p>Billabong taps NetSuite to power omnichannel strategy</p>
    </div>
    <div class="img-container">
      <img class="image" src="images/boards/alpha-go.png" alt="">
    </div>
    <div class="description margins">
      <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials,
         ERP and and omnichannel software suites, said that boardsports
         retailer Billabong International Ltd. selected NetSuite...</p>
    </div>
    <div class="social">
      <hr class="line">
      <img class="briefcase" src="images/boards/briefcase.png" alt="Briefcase">
      <img class="thumb" src="images/boards/thumb-up.png" alt="Thumbcase">
      <img class="share" src="images/boards/arrow.png" alt="Share">
    </div>
  </div>
  <!-- Board 4 -->
  <div class="board" id="b4">
    <div class="info">
      <p class="name margins">Chain Store Age</p>
      <p class="date margins">Feb 22, 2016</p>
    </div>
    <div class="title margins">
      <p>Billabong taps NetSuite to power omnichannel strategy</p>
    </div>
    <div class="img-container">
      <img class="image" src="images/boards/alpha-go.png" alt="">
    </div>
    <div class="description margins">
      <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials,
         ERP and and omnichannel software suites, said that boardsports
         retailer Billabong International Ltd. selected NetSuite...</p>
    </div>
    <div class="social">
      <hr class="line">
      <img class="briefcase" src="images/boards/briefcase.png" alt="Briefcase">
      <img class="thumb" src="images/boards/thumb-up.png" alt="Thumbcase">
      <img class="share" src="images/boards/arrow.png" alt="Share">
    </div>
  </div>
  <!-- Board 5 -->
  <div class="board" id="b5">
    <div class="info">
      <p class="name margins">Chain Store Age</p>
      <p class="date margins">Feb 22, 2016</p>
    </div>
    <div class="title margins">
      <p>Billabong taps NetSuite to power omnichannel strategy</p>
    </div>
    <div class="img-container">
      <img class="image" src="images/boards/tablet.png" alt="">
    </div>
    <div class="description margins">
      <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials,
         ERP and and omnichannel software suites, said that boardsports
         retailer Billabong International Ltd. selected NetSuite...</p>
    </div>
    <div class="social">
      <hr class="line">
      <img class="briefcase" src="images/boards/briefcase.png" alt="Briefcase">
      <img class="thumb" src="images/boards/thumb-up.png" alt="Thumbcase">
      <img class="share" src="images/boards/arrow.png" alt="Share">
    </div>
  </div>
  <!-- Board 6 -->
  <div class="small-board" id="b6">
    <div class="info">
      <p class="name margins">Chain Store Age</p>
      <p class="date margins">Feb 22, 2016</p>
    </div>
    <div class="title margins">
      <p>Billabong taps NetSuite to power omnichannel strategy</p>
    </div>
    <div class="description margins">
      <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials,
         ERP and and omnichannel software suites, said that boardsports
         retailer Billabong International Ltd. selected NetSuite...</p>
    </div>
    <div class="social">
      <hr class="line">
      <img class="briefcase" src="images/boards/briefcase.png" alt="Briefcase">
      <img class="thumb" src="images/boards/thumb-up.png" alt="Thumbcase">
      <img class="share" src="images/boards/arrow.png" alt="Share">
    </div>
  </div>
</div>
